@charset "UTF-8";

* {
	margin: 0;
}

.flex-container {
	display: flex;
    flex-direction: column;
    min-height: 150vh;
}

main {
	margin-top: 30px;
	margin-bottom: 30px;
	flex-grow: 1;
}

h1 {
	margin: 20px;
}

.total-price {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	margin-left: 20px;
}

.total-price * {
	padding: 10px 0;
}

.total-price a {
	display: inline-block;
	width: 70px;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	background-color: black;
	color: white;
	font-weight: bold;
	transition: background-color 0.5s, color 0.5s, box-shadow 0.3s;
}

.total-price a:visited {
	color: black;
}

.total-price a:hover {
	box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.3);
	background-color: #f3a712;
	color: black;
}

.grid-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.cart-item {
	margin: 0 20px;
	display: grid;
	grid-template-columns: 0.1fr 0.5fr 0.1fr;
}

.cart-img {
	grid-row: 1/3;
	border: 1px solid black;
}

.price {
	grid-row: 1/3;
	grid-column: 3/4;
	border: 1px solid black;
	min-width: 150px;
}

.prod-name {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.funct {
	grid-column: 2/3;
	border-bottom: 1px solid black;
}

.cart-img, .price, .prod-name, .funct {
	display: flex;
	justify-content: center;
	align-items: center;
}

.funct input[type="submit"] {
	margin-right: 20px;
}

@media (max-width: 960px) {
	.prod-name {
		max-width: 300px;
		min-width: 300px;
	}
	
	.prod-name h2 {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}
}

@media (max-width: 700px) {
	
	.grid-container {
		display: block;
	}
	
	.cart-item {
		display: block;
		border: 1px solid black;
	}
		
	.cart-img {
		display: block;
		border-color: transparent;
		border-bottom-color: black;
		text-align: center;
	}
	
	.prod-name {
		padding-top: 10px;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
	}
	
	.price, .prod-name, .funct {
		text-align: center;
		border: none;		
	}
	
	.funct {
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
	}
	
	.funct input[type="submit"] {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.price, .prod-name {
		display: block;
		font-size: 12px;
		margin-bottom: 10px;
	}
	
	.funct form {
		display: inline;
		width: 250px;
	}
}

@media (max-width: 500px) {
	
	.cart-item {
		display: block;
		border: 1px solid black;
	}
	
	.cart-img, .price, .prod-name, .funct {
		border-color: transparent;
		justify-content: flex-start;
		padding-left: 20px;
	}
	
	.cart-img {
		border-bottom-color: black;
	}
	
	.prod-name {
		padding-top: 10px;
	}
	
	.price, .prod-name, .funct {
		padding-bottom: 10px;
	}
	
	.price, .prod-name {
		font-size: 11px;
	}
}

@media (max-width: 380px) {
	.price, .prod-name {
		font-size: 9px;
	}
	
@media (max-width: 330px) {
	.cart-item {
		display: none;
	}
}