@charset "UTF-8";

@import "fonts/inter_font.css";

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Colonne flessibili */
  gap: 20px; /* Spaziatura tra le categorie */
}

.category {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.category img {
  max-width: 100%;
  height: auto;
}

.category h3 {
  margin-top: 10px;
}
