@charset "UTF-8";

@import "fonts/inter_font.css";

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-box {
	background-color: #eff1ed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 100px;
	/*height: 100vh;*/
}

.child-box {
	position: relative;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 0 30px;
	width: 300px;
	border-radius: 15px;
	border: 1px solid black;
}

.user-home {
	margin: 0 15%;
	border: none;
}

#address-form {
	display: none;
}

.address {
	margin: 0;
	margin-left: 50px;
}

.address * {
	font-size: 13px;
	padding: 0;
}

.address h1 {
	font-size: 26px;
	margin: 5px 0;
	margin-bottom: 10px;
}

.address form input {
	margin: 10px 0;
	padding: 8px 12px;
	margin-bottom: 15px;
}

#error-message {
	position: absolute;
	font-size: 14px;
	font-weight: bold;
	color: #e74c3c;
	top: -40px;
	left: 0;
}

.user-home #error-message {
	left: 30px;
	top: -10px;
}

.user-home #success-message {
	position: absolute;
	font-size: 14px;
	font-weight: bold;
	color: #2ecc71;
	left: 30px;
	top: -10px;
}

#header {
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 40px;
}

input {
	background-color: #eff1ed;
	display: block;
	width: 90%;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 8px 12px;
	margin-bottom: 50px;
	transition: border-color 0.5s;
}

.address input {
	margin-bottom: 0;
}

input::placeholder {
	color: #a19a9a;
}

input:hover {
	border-color: #5f96f4;
}

input:focus {
	outline-color: #5f96f4;
}

.submit {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.submit input[type="submit"] {
	width: auto;
	margin: 0;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: black;
	color: white;
	font-weight: bold;
	transition: background-color 0.5s, color 0.5s, box-shadow 0.3s;
}

.address input[type="submit"] {
	margin-bottom: 15px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes changeColor {
	0% {
		border-top-color: blue;
	}

	100% {
		border-top-color: red;
	}
}

.submit::after {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	border: 4px solid transparent;
	border-top-color: blue;
	border-radius: 50%;
	animation: spin 2s linear infinite, changeColor 4s linear infinite
		alternate;
	visibility: hidden;
}

.submit.loading {
	width: 300px;
	height: 35px;
}

.submit.loading input[type="submit"] {
	visibility: hidden;
}

.submit.loading::after {
	visibility: visible;
}

.submit input[type="submit"]:hover {
	box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.3);
	background-color: #f3a712;
	color: black;
}

.radio-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.radio-btns input {
	margin: 0;
}

.radio-btns input[type="radio"] {
	width: 14px;
}

.radio-btns label {
	color: black;
	font-size: 14px;
	margin: 0 20px;
}

.r-btn {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.help-info {
	font-size: 14px;
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.help-info a {
	text-decoration: none;
	color: #5f96f4;
	transition: color 0.5s;
	padding-bottom: 10px;
}

.help-info a:hover {
	color: black;
	text-decoration: underline;
}

.help-info a:visited {
	color: #5f96f4;
}

.form-control {
	position: relative;
}

.form-control span {
	visibility: hidden;
	position: absolute;
	top: 5px;
	right: 10px;
}

.form-control small {
	visibility: hidden;
	font-size: 12px;
	position: absolute;
	top: 40px;
	left: 12px;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.success span.check-icon {
	visibility: visible;
	color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control.error span.error-icon {
	visibility: visible;
	color: #e74c3c;
}

.form-control.error small {
	visibility: visible;
	color: #e74c3c;
}
