@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f3a712;
    color: #fff;
    padding: 10px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #433a3f;
}

.nav-right {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    margin-right: 10px;
}

.search-bar form {
	display: flex;
	align-items: center;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.search-bar img {
	vertical-align: middle;
    margin-right: 5px;
    height: 30px;
}

.search-bar input {
    border: none;
    padding: 5px;
    width: 200px;
    background-color: transparent;
    margin: 0;
    font-size: 15px;
    line-height: 15px;
}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    background-color: transparent;
    border: none;
    color: #433a3f;
    cursor: pointer;
}

.cart-icon img, .user-icon img {
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}
