@charset "UTF-8";

@import "fonts/inter_font.css";

body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

a {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-select: none;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-select: none;
}

header {
	background-color: #f3a712;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo img {
	height: 50px;
	margin-left: 10%;
}

.hamburger-container {
	cursor: pointer;
	height: 54px;
	margin-left: 20px;
	display: block;
	transform: translateY(18px);
}

.hamburger {
	padding: 3px 0;
	width: 30px;
	border-top: 2px solid black;
}

.nav-links {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

.nav-links li {
	padding: 0 40px;
}

.nav-links a {
	text-decoration: none;
	color: #433a3f;
	white-space: nowrap;
}

.nav-right {
	display: flex;
	align-items: center;
	margin-right: 2%;
}

.search-bar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #fff;
	border-radius: 20px;
	padding: 5px;
	margin-right: 10px;
	width: 400px;
}

.mobile-search {
	display: none;
	width: 100%;
}

.search-bar form {
	display: flex;
	align-items: center;
}

.input-container {
	position: relative;
	display: flex;
	align-items: center;
}

.input-container button {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.search-bar img {
	vertical-align: middle;
	margin-right: 5px;
	height: 30px;
}

.search-bar input {
	border: none;
	border-radius: 20px;
	padding: 5px;
	width: 343px;
	background-color: transparent;
	margin: 0;
	font-size: 15px;
	line-height: 15px;
	overflow: hidden;
}

.mobile-search #search-form, .mobile-search .input-container,
.mobile-search input {
	width: 100%;
}

.search-bar input:focus {
	outline: none;
	border: 1px solid #433a3f;
	border-radius: 20px;
}

.search-bar button {
	background-color: transparent;
	border: none;
	color: #433a3f;
	cursor: pointer;
}

.cart-icon img, .user-icon img {
	width: 30px;
	margin-left: 20px;
	cursor: pointer;
}

.user-dropdown-content {
    display: none;
    position: absolute;
    right: 5px;
    top: 52px;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.user-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

.user-dropdown-content a:hover {
	background-color: #f1f1f1;
}

.header-menu {
	padding: 0;
	list-style: none;
	font-size: 13px;
}

.mobile-navbar {
    display: none;
    background-color: #eee7e7;
    padding: 20px 2px;
	min-width: 240px;
	position: absolute;
	top: 55px;
	left: 5px;
	z-index: 1;
}

.mobile-navbar.active {
	display: block;
}


.mobile-navbar .nav-links {
    list-style: none;
    padding: 0;
	display: block
}

.mobile-navbar .nav-links li {
    margin: 20px 0;
	padding-left: 20px;
}

.mobile-navbar .nav-links a {
    text-decoration: none;
    color: #000;
}

#search-results {
	position: absolute;
	border-bottom-left-radius: 20px;
	z-index: 1;
	background-color: white;
	top: 56px;
	right: 10px;
	width: 530px;
	max-height: 50%;
    overflow-y: scroll;
}

#search-results::-webkit-scrollbar {
    width: 12px;
}

#search-results::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

#search-results::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#search-results .product {
	display:flex;
	align-items: center;
	justify-content: space-around;
}

#search-results .product:hover {
	cursor: pointer;
	background-color: whitesmoke;
}

#search-results .product:focus {
	outline: none;
	background-color: whitesmoke;
}

#search-results .product img {
	width: 25%;
}

#search-results .product h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	max-width: 220px;
}

@media (min-width: 1291px) {
    .hamburger-container {
        display: none;
    }
}

@media ( max-width : 1290px) {
	.navbar-container {
		display: none;
	}
}

@media ( max-width : 800px) {
	.search-bar {
		display: none;
	}
	
	.mobile-search {
		display: block;
	}
	
	#search-results {
		width: 98%;
		top: 18%;
	}
}