@charset "UTF-8";

.flex-container {
	display: flex;
	background-color: #f0f0f0;
    flex-direction: column;
    min-height: 150vh;
}

main {
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	flex-grow: 1;
}

.container {
	max-width: 800px;
	margin: 20px auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
	font-size: 24px;
}

.order {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	cursor: pointer;
	/* Cambia il cursore quando si passa sopra l'ordine */
}

.order p {
	margin: 0;
}

.order-details {
	margin-top: 20px;
}

.order-details .label {
	font-weight: bold;
}

.form-group {
	margin-top: 20px;
}

.form-group label {
	display: block;
	font-weight: bold;
}

.form-group select,
.form-group input {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-group input {
	width: 80%;
}

button {
	width: auto;
	margin: 0;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: black;
	color: white;
	font-weight: bold;
	transition: background-color 0.5s, color 0.5s, box-shadow 0.3s;
	margin: 10px 0;
}

button:hover {
	box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.3);
	background-color: #f3a712;
	color: black;
}

.order-form {
	display: none;
	background-color: #f9f9f9;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #ccc;
}

.error-message {
	color: red;
}
